{% extends 'base.html.twig' %}

{% block title %}Les Domaines{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom">
                        <i data-feather="list"></i>
                        Mes Domaines
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered  table-condensed table-sm" id="basic">
                        <thead class="table-light">
                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Date création</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for domaine in domaines %}
                            <tr>
                                <td class="text-left">{{ domaine.name }}</td>
                                <td class="text-center">{{ domaine.createdAt|date('d/m/Y') }}</td>
                                <td class="text-center">
                                    <a href="{{ path('app_domaine_edit', {'id': domaine.id}) }}">
                                        <i data-feather="edit" class="me-4"></i>
                                    </a>
                                    <a href="{{ path('app_domaine_delete', {'id': domaine.id}) }}">
                                        <i data-feather="trash" style="color: red"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_domaine_new') }}" class="btn btn-dark float-end me-2"
                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
